/*
 § Menu
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.icon-menu {
  position: absolute;
  top: 0;
  right: 0;
  float: right;
  @include user-select(none);

  li {
    display: inline-block;
    margin: 0 -2px;
    &.last {
      margin-right: 0;
    }

    a, label {
      height: $header-height;
      display: inline-block;
      text-align: center;
      line-height: 47px;
      font-size: 22px;
      color: $black;
      width: 42px;
      float: left;
    }

    &:active {
      color: $purple;
    }

    &:hover,
    &:focus {
      cursor: pointer; 
    }
  }//li

  // Active menu item
  li a.active {
    background: $gray-lighter;

    &:hover,
    &:focus {
      color: black;
    }

  }

}//.icon-menu


/*
 § Menu toggle
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
// Hide the label
.icon-menu {
  input {
    display: none;
  }
}

label[for="menu-toggle"] {
  @extend .icon--menu;

  &:active {
    color: $purple;
  }

  &:hover,
  &:focus {
    outline: none;
    cursor:pointer;
  }

  &:before {
    @include transition(.2s);
  }

  // When active
  &.active {
    background: $black;
    color: #fff !important;
    @extend .icon--cross;
    &:before {
      @include rotate(360deg);
    }
  }
}
