/*
 § Menu
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.icon-menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 42 * 3px;
  
  li a,
  li label { // the menu toggle is not an <a> tag
    display: inline-block;
    width: 42px;
    height: 42px;
    float: left;
    font-size: 22px;
    line-height: 47px;
    text-align: center;
    color: $black;

    &:hover {
      color: $purple;
      cursor: pointer;   
    }
  }//li

  // Active menu item
  li a.active {
    background: $gray;

    &:hover,
    &:focus {
      color: black;
    }
  }

}//.icon-menu


/*
 § Menu toggle
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
// Hide the label
.icon-menu {
  input {
    display: none;
  }
}

label[for="menu-toggle"] {
  @extend .icon--menu;

  &:hover,
  &:focus {
    outline: none;   
  }

  // When active
  &.active {
    background: $black;
    color: #fff;
    @extend .icon--cross;
  }
}


/*
 § Search
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.icon-menu {

  .fa-search {
    @extend .icon--search;
  }

}//.icon-menu



/*
 § Number search
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.icon-menu {

  .fa-th {
    @extend .icon--listen-1;
  }

}//.icon-menu