/*
 ยง Standard tile.
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
%tile {
  // IMPORTANT: Don't define any background on tiles (reason: jQuery hack).
  width: 50%;
  float: left;
  overflow: hidden;
  text-align: center;
  position: relative;
  margin-bottom: 12px;

  &:hover,
  &:focus {
    cursor: pointer;
    opacity: .85;
  }

  // Responsive image.
  img {
    width: 100%;
  }

  a {
    @extend .heading--extra-small;
  }
  // Title
  a span {
    @extend .heading--extra-small;
    font-family: 'hill regular', sans-serif;
    margin-bottom: 0;
    color: #fff;
    display: block;
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background: $black;
    padding: 10px 5px 12px;
  }
}

/*
 ยง Small tile
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
%tile--small {
  // Every second small tile is being tweaked to create the crease between tiles.
  // This way of doing it makes sure that we can maintain a responsive layout
  // without adjusting the markup.
  padding: 0;
  &:nth-child(odd) {
    padding-left: 6px;
    a span {
      left: 6px;
      right: 0;
      color: magenta;
    }
  }
  &:nth-child(even) {
    padding-right: 6px;
    a span {
      right: 6px;
      left: 0;
    }
  }
}

/*
 ยง Large tile
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
%tile--large {
  padding: 0;
  width: 100% !important;
  height: auto;
  clear: both;

  a {
    @extend .heading--small;
  }
  a span {
    padding: 12px 5px 13px;
    right: 0;
    left: 0;
  }
}
