/*
 § Standard tile (small)
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.tile {
  // IMPORTANT: Don't define any background on tiles (reason: jQuery hack).
  width: 50%;
  float: left;
  overflow: hidden;
  text-align: center;
  position: relative;
  margin-bottom: 12px;

  &:hover,
  &:focus {
    cursor: pointer;
    opacity: .85;
  }

  // Responsive image.
  img {
    width: 100%;
  }

  // Title
  a {
    @extend .heading--extra-small;
    font-family: 'hill regular', sans-serif;
    margin-bottom: 0;
    color: #fff;
    display: block;
    text-align: center;
    position: absolute;
    bottom: 0;
    background: $black;
    padding: 10px 5px 12px;
  }

  // Every second small tile is being tweaked to create the crease between tiles.
  // This way of doing it makes sure that we can maintain a responsive layout
  // without adjusting the markup.
  &.tile--small:nth-child(odd) {
    padding-left: 6px;

    a {
      left: 6px;
      right: 0;
    }
  }
  &.tile--small:nth-child(even) {
    padding-right: 6px;

    a {
      right: 6px;
      left: 0;
    }
  }
}

/*
 § Large tile
\*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.tile--large {
  @extend .tile;
  padding: 0;
  width: 100% !important;
  height: auto;
  float: none;

  a {
    @extend .heading--small;
    padding: 12px 5px 13px;
    right: 0;
    left: 0;
  }
}
