@import "base";

.region-header {
  float: right;
  padding: 15px;
  @include pie-clearfix; // Clearfix.
}
.page-header {
  background-color: #E6E6E6;
  @include pie-clearfix; // Clearfix.

  #logo {
    float: left;
  }

  a {
    text-decoration: none;
    color: black;
  }
}

// The icon menu.
.delta-icon-menu {
  float: right;
  li {
    padding: 10px;
    font-size: 1.5em;
    display: inline-block;
  }
  // The burger toggle.
  #menu-toggle {
    display: none;
  }
  label[for='menu-toggle'] {
    cursor: pointer;
  }
}
// The main menu.
.delta-toggle-menu {
  background: #999;
  clear: both;
  display: none;
}
