@import "base";

.page-header {
  background-color: #E6E6E6;

  a {
    text-decoration: none;
    color: black;
  }

  .icon-menu {
    li {
      display: inline-block;
    }
  }

  // The burger toggle.
  #menu-toggle {
    display: none;
  }
  label[for='menu-toggle'] {
    cursor: pointer;
  }
}
