.node-type-page {

  #page-title {
    @extend .heading--large;
    margin: 14px 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid $gray;
  }

  .node-page {
    @extend .copy;
    padding: 0 12px 12px 12px;

    .player {
      margin: 8px 0;
    }
  }
}
