// Home

/*body*/.front {

  .page-header {
    margin-bottom: 2px; // Just fucking flies. Nothing to see here.
  }

  // Hide the page title
  .node-generic-page > h2 {
    display: none; 
  }
  
  #content {
    padding: 12px;

    .info-panel {
      display: none;
    }

    .menu {
      li {
        @extend .tile; // See _tile.scss

        &.tile--large {
          @extend .tile--large; // See _tile.scss
        }
      }
    }
  }//#content

}//.front