// Search results

.page-search {

  .category {
    @extend .heading--medium;
    padding: 10px 0 5px 12px;
    border-bottom: 1px solid $gray;
    margin-bottom: 0;
  }

  // Extending compact-list styles to view rows
  .view-content {
    @extend .compact-list--search;

    .views-row {
      @extend .compact-list__item;
    }
  }
}
