.admin-tabs { margin: 0 -12px; clear: both; }
.admin-tabs .tabs.primary { border-top: 2px solid black; padding: 5px 0 4px 0; }
.admin-tabs .tabs.primary li { display: inline-block; }
.admin-tabs .tabs.primary li a { padding: 5px 10px 3px 10px; background: #b3b3b3; margin: 0 3px; color: #000; }
.admin-tabs .tabs.primary li a.active { background: #000; color: white; }

.element-invisible { display: none; }

#user-login { margin-top: 20px; }
#user-login .form-item, #user-login .form-actions { padding: 10px; }
#user-login input { height: 30px; border: black 1px solid; max-width: 300px; margin-bottom: 5px; padding: 3px; }
#user-login input.form-submit { padding: 3px 20px; }
