.element-invisible { display: none; }

.region-header { float: right; padding: 15px; *zoom: 1; }
.region-header:after { content: ""; display: table; clear: both; }

.page-header { background-color: #E6E6E6; *zoom: 1; }
.page-header:after { content: ""; display: table; clear: both; }
.page-header #logo { float: left; }
.page-header a { text-decoration: none; color: black; }

.delta-icon-menu { float: right; }
.delta-icon-menu li { padding: 10px; font-size: 1.5em; display: inline-block; }
.delta-icon-menu #menu-toggle { display: none; }
.delta-icon-menu label[for='menu-toggle'] { cursor: pointer; }

.delta-toggle-menu { background: #999; clear: both; display: none; }
